.u-relative {
	position: relative;
}

.u-vertical-center {
	position: absolute;
	left: 1%;
	top: 50%;
	transform: translate(0, -50%);
}

.u-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.u-hide {
	display: none;
}

.u-text {
	text-align: center;
	padding-top: 2rem;
}
