.plot {
	height: 80%;
	padding: 0.5rem;
	&__content {
		width: 100%;
		height: 100%;
		background-color: $color-grey-light-1;
		border-radius: 5px;
		position: relative;
	}
}

.plot-large {
	height: 90%;
	padding: 0.5rem;
	&__content {
		padding: 1rem;
		overflow: scroll;
		width: 100%;
		height: 100%;
		background-color: $color-grey-light-1;
		border-radius: 5px;
		position: relative;

		& .row {
			margin-bottom: $gutter-vertical;
		}
	}
}
